#AboutUs {
  img {
    width: 150px;
    padding: 20px; 
    background-color: $primary-accent-color;
    border-radius: 75px;
  }
  hr {
    margin: 50px 150px;
    height:1px; 
    border:none; 
    color: $primary-text-color;
    background-color: $secondary-border-color;
  }
  .fa-github {
    color: $primary-text-color;
    padding: .8em;
  }
}