#dashboard {
  color: $primary-text-color;
  padding-bottom: 70px;
  background-color: $primary-background-color;
  font-family: $body-font-stack;
  line-height: 1.25;

  span {
    display: flex;
  }

  i.fa-twitter {
    font-size: 27px;
    position: relative;
    bottom: 6px;
    margin-left: 15px;
    color: #00aced;
  }

  // React tab package requires weirdly precise CSS rules to target and manipulate the HTML elements.
  #react-tab {
    width: 100%;
    margin: auto;
    border: .1em solid $primary-border-color;
    border-radius: .2em;
  }

  // Tab manager container box.
  #react-tab > div > div > div {
    background-color: $tertiary-background-color;
    border: $primary-border-color 1px solid;
    border-bottom: none;
  }

  // Tab manager tab boxes.
  #react-tabtab-tab-0, #react-tabtab-tab-1 {
    color: $primary-text-color;
    background-color: $quaternary-background-color;
    padding: 10px 30px;
  }

  i.fa-thumbs-up, i.fa-film {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  // Tab manager tab boxes when highlighted.
  #react-tabtab-tab-0[aria-selected="true"], #react-tabtab-tab-1[aria-selected="true"] {
    border: $primary-border-color solid 1px;
  }

  // Individual movie objects.
  #react-tabtab-panel-0 > ul > li, #react-tabtab-panel-1 > ul > li {
    // border: $primary-border-color 1px solid;
    background-color: $quaternary-background-color;
  }

  #react-tabtab-panel-0, #react-tabtab-panel-1 {
    background-color: $primary-accent-color;
  }

  form {
    position:fixed;   
    bottom:0;         
    left:0;
    text-align: center;
    background-color: $secondary-background-color;
    padding: 10px;
    width: 100%;
  }

  form input[type="text"] {
    width: 75%;
    max-width: 370px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  button {
    width: 20%;
    max-width: 80px;
  }

  .profile-pic {
    width: 120px;
    padding: 20px; 
    background-color: $primary-accent-color;
    border-radius: 60px;
  }

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 1em; 
  }
  .suggested-list, .movie-list {
    margin-top: 1.5em; 
    img {
      width: 80px;
    }
    .synopsis{
      font-size: $medium-font-size;
      float: left;
      text-align: left;
    }
    li{
      display: flex;
      margin-bottom: 1.5em;
      border: $primary-border-color 1px solid;
      border-radius: .3em;
      padding: 1em;
    }
    .movie-poster, .review-poster{
      margin-right: 1em;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
    }
  }

  .review-details {
    width: 90%;
  }

  i.fa-trash-alt {
    color: lightsteelblue;
  }
}