#dashboard {
  color: $text-theme-1;
  padding-bottom: 70px;

  #react-tab {
    width: 100%;
    margin: auto;
  }

  #react-tabtab-panel-0, #react-tabtab-panel-1 {
    height: 300px;
  }

  form {
    position:fixed;   
    bottom:0;         
    left:0;
    text-align: center;
    background-color: $accent-theme-1;
    padding: 10px;
    width: 100%;
  }

  form input[type="text"] {
    width: 75%;
    max-width: 370px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  button {
    width: 20%;
    max-width: 80px;
  }

  .profile-pic {
    width: 120px;
    padding: 20px; 
    background-color: #ffffff;
    border-radius: 60px;
  }

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 1em; 
  }

}