#login {
  margin-top: 4em;
  text-align: center;

  body {
  color: $text-theme-1;
  background-color: $background-theme-1;
  font-family: $body-font-stack;
}

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  button {
    margin-top: 20px;
    background: $background-theme-1;
  }
}