#login {
  margin-top: 4em;
  text-align: center;
  color: $primary-text-color;
  background-color: $primary-background-color;
  font-family: $body-font-stack;

  body {
    color: $primary-text-color;
    background-color: $primary-background-color;
    font-family: $body-font-stack;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  button, form input[type="text"] {
    width: 100%;
  }

  form {
    max-width: 400px;
  }

  #username-entry {
    background-color: $primary-accent-color;
  }

}