.navbar {}

nav {
  color: $primary-text-color; 
  font-family: $heading-font-stack;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: $secondary-background-color;
}

nav > link, nav > a {
  color: $primary-text-color; 
  margin: .5em;
  text-decoration: none;
}

nav link:visited, nav a:visited {
  color: $primary-text-color; 
}

nav > ul {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  flex-direction: row;
}

nav > ul > a {
  margin-left: .5em;
  margin-right: .5em;
  text-decoration: none;
}

#navbar-links li {
  color: $primary-text-color;
  font-weight: bold;
}

#title-logo {
      position: relative;
      width: 7.5em;
      height: 6.25em;
      margin: .2em;
      background: #0E2E3E;
      border-radius: 50% / 10%;
      box-shadow: 1px 1px 6px 6px #00F7FF;
      color: $secondary-text-color;
      line-height: 5em;
      text-align: center;
      text-indent: .1em;
      text-shadow: -1px -1px 5px #00F7FF, 1px 1px 5px #00F7FF;
}

#title-logo:before {
  font-size: 2em;
  font-family: "Audiowide", cursive;
  content: 'VEWR';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}