#Search {
  .movie-list{
    background: $tertiary-background-color;
    border: $secondary-border-color .1em solid;
    border-radius: .2em;

    img {
      width: 80px;
    }
    .synopsis{
      font-size: $medium-font-size;
      float: left;
      text-align: left;
    }
    li{
      background: $quaternary-background-color;
      outline: $primary-border-color .1em solid;
      border-radius: .2em;
      display: flex;
      margin-bottom: 1.5em;
    }
    .movie-poster{
      margin-right: 1em;
    }
    h3 {
      margin-top: 0;
      margin-bottom: .2em;
      text-align: left;
    }
  }

  

  

  

  

  
}