@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import "variables";
@import "base";
@import "layout";
@import "module";
@import "./components/review";
@import "./components/login";

body {
  color: $text-theme-1;
  background-color: $background-theme-1;
  font-family: $body-font-stack;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: $accent-theme-1;
}

nav > a {
  text-decoration: none;
}

nav > ul {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  flex-direction: row;
}

nav > ul > a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

#title-logo {
  font-size: 2em;
  font-family: "Audiowide", cursive;
}

