@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import "variables";
@import "base";
@import "layout";
@import "module";
@import "./components/review";

body {
  color: aqua;
  background-color: darkcyan;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(209, 216, 218);
}

nav > a {
  text-decoration: none;
}

nav > ul {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  flex-direction: row;
}

nav > ul > a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

#title-logo {
  font-size: 2em;
  font-family: "Audiowide", cursive;
  // font-family: "Gugi", cursive;
}

.login {
  margin-top: 50px;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  button {
    margin-top: 20px;
    background: blue;
  }
}