* {box-sizing: border-box;}

h1, h2, h3, h4, h5, h6 {
  color: $nav-theme-1; 
  font-family: $heading-font-stack;
  margin: 20px 0;
  font-weight: 700;
}

h1 {font-size: 30px}
h2 {font-size: 24px}
h3 {font-size: 18px}
h4 {font-size: 16px}

p {
  color: $text-theme-1; 
  font-family: $body-font-stack;
  margin: 15px 0;
}


