$form-border-radius: .2em;

form{
	font: $body-font-stack;
	margin: 10px auto 0 auto;
  padding: 16px; 
}

form input[type="text"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form textarea,
form select 
{
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  font-size: 1em;
	color: $primary-text-color;
  background-color: $tertiary-background-color;
	margin-bottom: 10px;
  border: $secondary-border-color 2px solid;
	border-radius: $form-border-radius;
	padding: 10px;
	font: $body-font-stack;
}
form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form textarea:focus,
form select:focus
{
	box-shadow: 0 0 5px $primary-color;
	padding: 10px;
	border: 1px solid $primary-color;
}

form input[type="submit"],
form input[type="button"], button{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px;
	background: $quaternary-background-color;
	border-bottom: 2px solid $primary-color;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: $primary-text-color;
	border-radius: $form-border-radius;
	clear: both;
}
form input[type="submit"]:hover,
form input[type="button"]:hover, button:hover{
	background: $tertiary-background-color;
}
select{
	-webkit-appearance: menulist-button;
	height:35px;
}