
$heading-font-stack: "Open Sans", sans-serif;
$body-font-stack: "Open Sans", sans-serif;

$medium-font-size: .8em;
$primary-color: rgb(15, 57, 102);
$light-background: #f0f0df;

// Dark Blue Theme
$primary-background-color:#15202b;
$secondary-background-color:#223344;
$tertiary-background-color:#324d67;
$quaternary-background-color: #436689;

$primary-accent-color:#2F6A84;
$secondary-accent-color:#48798A;

$primary-text-color:#BBE6F5;
$secondary-text-color: #272E46;

$primary-border-color:#2a4055;
$secondary-border-color: #3b5978

