
$heading-font-stack: "Open Sans", sans-serif;
$body-font-stack: "Open Sans", sans-serif;

$medium-font-size: .8em;
$primary-color: rgb(15, 57, 102);
$light-background: #f0f0df;

// Color Themes
// Dark Blue Theme
$primary-background-color:#15202b;
$secondary-background-color:#223344;
$primary-accent-color:#2F6A84;
$secondary-accent-color:#48798A;
$primary-text-color:#BBE6F5;
$secondary-text-color: #272E46;

