$heading-font: Helvetica, sans-serif;
$body-copy-font: Times, serif;
$primary-color: rgb(15, 57, 102);
$secondary-color: rgb(0, 130, 80);
$light-background: #f0f0df;
$dark-background: #261c2e;
$heading-color: rgb(182, 0, 125)
$text-color: #333333;
$link-color: red;